---
layout: home
title: Latest Posts
jsarr:
  - '/assets/javascripts/slick.min.js'
  - '/assets/javascripts/typed.js'
  - '/assets/javascripts/app-home.js'
---
<h1>{{ page.title }}</h1>

            <div class="wrapper">
              <div class="home">

                <div class="row">
                  {% for post in site.posts limit: 3 %}

                    <div class="small-12 medium-4 columns">
                      <h4><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
                      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                    </div>
                  {% endfor %}

                </div>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

              </div>
            </div>