---
layout: default
title: Website Portfolio
permalink: /websites/
redirect_from: /pages/portfolio/websites.html
jsarr:
  - '/assets/javascripts/slick.min.js'
  - '/assets/javascripts/slick-init.js'
---
<div class="row">
    <div class="small-10 small-centered columns">
      <p class="text-center">Below is a small selection of sites I have recently completed. Please feel free to click through to the individual sites to check them out.</p><br />
    </div>
</div>

<div class="small-12 columns">
  {% assign odd = true %}
  {% assign expost = 1 %}
  {% for exp in site.data.websites %}
    {% if odd == true %}
      {% assign rowclass = "odd " %}
      {% assign imageclass = "" %}
      {% assign contentclass = "" %}
      {% assign odd = false %}
    {% else %}
      {% assign rowclass = "even " %}
      {% assign imageclass = "medium-push-6 " %}
      {% assign contentclass = "medium-pull-6 " %}
      {% assign odd = true %}
    {% endif %}
    <div class="{{ rowclass }}experience-block row" data-equalizer="expost-{{ expost }}" data-equalize-on="medium">
      <div class="{{ imageclass }}experience-image medium-6 small-12 columns" data-equalizer-watch="expost-{{ expost }}">
        {% if exp.images %}
          {% assign image_count = exp.images | size %}
          {% if image_count != 1 %}
            <div class="slicky" id="slicky-{{ expost }}">
            {% for image in exp.images %}
              <img class="{{exp.title | downcase | normalize_whitespace }}-image-{{slide}}" src="{{ image }}" />
            {% endfor %}
            </div>
          {% else %}
              <img class="{{exp.title | slugify }}-image portfolio-single-image" src="{{ exp.images }}" />
          {% endif %}
        {% endif %}
      </div>
      <div class="{{ contentclass }}experience-content-wrapper small-12 medium-6 columns" data-equalizer-watch="expost-{{ expost }}">
        <div class="experience-content">
          <div class="experience-title">
            <h3>{{ exp.title }}</h3>
          </div>
          <div class="experience-description">
            {{ exp.description }}
          </div>
          {% if exp.links != null %}
            {% assign link_count = exp.links | size %}
            {% if link_count == 1 %}
                {% for link in exp.links %}
                  <a class="button hollow" href="{{link.url}}" target="_blank">{{ link.title }}</a>
                {% endfor %}
            {% else %}
                <button class="dropdown button hollow" type="button" data-toggle="dropdown-{{ expost }}">Links</button>
                <div class="dropdown-pane" id="dropdown-{{ expost }}" data-dropdown data-hover="true" data-hover-pane="true" data-auto-focus="true" style="z-index: 9">
                  <ul class="menu vertical">
                    {% for link in exp.links %}
                      <li><a class="" href="{{link.url}}" target="_blank">{{ link.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            {% endif %}            
          {% endif %}
        </div>
      </div>
    </div>
    {% assign expost = expost | plus: 1 %}
  {% endfor %}
</div>
