{% for post in site.posts %}
  <article class="blog-article {% for tag in post.categories %}{{tag}}-tag {% endfor %}">
    <a href="{{ post.url }}"><h5>{{ post.title }} <small>{{ post.date | date: "%d %b %Y" }}</small></h5></a>
    {% for tag in post.categories %}
      <a onclick="filter('{{ tag }}'); return false;" class="secondary label">{{tag}}</a>
    {% endfor %}
    {{ post.excerpt }}
    {% capture content_words %} 
      {{ post.content | number_of_words }} 
    {% endcapture %} 
    {% capture excerpt_words %} 
      {{ post.excerpt | number_of_words }} 
    {% endcapture %} 
    {% if excerpt_words != content_words %}
      <a href="{{ site.baseurl }}{{ post.url }}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Read more</a>
    {% endif %}
  </article>
{% endfor %}
