<ul class="menu vertical" id="series-menu">
  <li class="menu-heading"><strong>Categories</strong></li>
  {% assign categories_list = site.categories %}
    {% if categories_list.first[0] == null %}
      {% for category in categories_list %}
        <li><a href="#{{ category }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
        }
      {% endfor %}
    {% else %}
      <li><a href="/blog/">All ({{ site.posts.size }})</a></li>
      {% for category in categories_list %}
        <li><a href="/categories/#{{ category[0] }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
      {% endfor %}
    {% endif %}
  {% assign categories_list = nil %}
</ul>
