{% if include.type == 'drilldown' %}
  <ul class="vertical menu" data-drilldown>
{% else if include.type == 'accordion' %}
  <ul class="vertical menu" data-accordion-menu>
{% else %}
  <ul class="vertical menu">
{% endif %}

{% for item in include.nav %}
  <li>
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% if item.submenu != null %}
      <ul class="vertical menu">
        {% assign submenu=item.submenu %}

        {% include mobile-menu.html nav=submenu %}
        
      </ul>
    {% endif %}
  </li>
{% endfor %}

  </ul>
