{% if include.type == 'drilldown' %}
  <ul class="vertical menu" data-drilldown>
{% else if include.type == 'accordion' %}
  <ul class="vertical menu" data-accordion-menu>
{% endif %}

{% for item in include.nav %}
  <li>
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% if item.submenu != null %}
      <ul class="vertical menu">
        {% include mobile-menu.html nav=item.submenu %}
      </ul>
    {% endif %}
  </li>
{% endfor %}

{% if include.type == 'accordion' or include.type == 'drilldown' %}
  </ul>
{% endif %}
