<div class="orbit" role="region" aria-label="{{ include.title }} Pictures" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    {% assign slide = 0 %}
    {% for image in include.images %}
      <li class="{% if slide == 0 %}is-active {% endif %}orbit-slide">
        <img class="orbit-image" src="{{image}}" alt="{{ include.title }}">
        <figcaption class="orbit-caption">{{ include.title }}</figcaption>
      </li>
      {% assign slide = slide | plus: 1 %}
    {% endfor %}
  </ul>
</div>
