    <script src="/assets/javascripts/vendor/jquery.js"></script>
    <script src="/assets/javascripts/requestAnimationFrame.js"></script>
    <script src="/assets/javascripts/vendor/what-input.js"></script>
    <script src="/assets/javascripts/vendor/foundation.min.js"></script>
    <script src="/assets/javascripts/app.js"></script>
    <script src="/assets/javascripts/typed.js"></script>
    {% if page.jsarr %}
      {% for js in page.jsarr %}
        <script src="{{ js }}"></script>
      {% endfor %}
    {% endif %}
{% if site.facebook.app_id %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ site.facebook.app_id }}',
      xfbml      : true,
      version    : 'v2.7'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endif %}