{% if page.series %}

{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.tutorials %}
  {% if post.series == page.series %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    {% if post.url == page.url %}
      {% capture idx %}{{count}}{% endcapture %}
    {% endif %}
  {% endif %}
{% endfor %}


<div data-sticky-container>
  <div class="sticky" data-sticky data-top-anchor="stick-here:top">
  <ul id="series-menu">
  {% assign count = '0' %}
  {% assign items = site.tutorials | sort: 'order' %}
  <li><a href="/tutorials/{{ page.series }}/">Overview</a></li>
  {% for post in items %}
  {% if post.series == page.series %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    <li>
    {% if page.url == post.url %}
      This Article
    {% else %}
      <a href="{{post.url}}">{{post.title}}</a>
    {% endif %}
    </li>
  {% endif %}
  {% endfor %}
  </ul>
  </div>
</div>
{% endif %}