  <!-- off-canvas title bar for 'small' screen -->
  <div id="title-bar" class="title-bar hide-for-medium" data-responsive-toggle="widemenu">
    <div class="title-bar-left">
      {% if site.navigation.left.enabled == true %}
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
      {% endif %}
      {% if site.navigation.titletext == true %}
        <span class="title-bar-title">{{site.title}}</span>
      {% endif %}
    </div>
    {% if site.navigation.titletext == false %}
      <div id="title-bar-middle">
        <a href="{{site.url}}"><img src="{{ site.logo_location }}" /></a>
      </div>
    {% endif %}
    <div class="title-bar-right">
      {% if site.navigation.right.enabled == true %}
        <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
      {% endif %}
    </div>
  </div>


