---
# front matter
---
// Font-Awesome
@import 'font-awesome/font-awesome';

// // Custom Variables
// @import 'variables';

// // Foundation 6
@import 'foundation';
@import 'slick';
@import 'slick-theme';

// // Include All of Foundation 6
@include foundation-everything;

// // Customize Foundation 6. Uncomment the components you need:

// @include foundation-global-styles;
// // @include foundation-grid;
// // @include foundation-typography;
// // @include foundation-button;
// // @include foundation-forms;
// // @include foundation-visibility-classes;
// // @include foundation-float-classes;
// // @include foundation-accordion;
// // @include foundation-accordion-menu;
// // @include foundation-badge;
// // @include foundation-breadcrumbs;
// // @include foundation-button-group;
// // @include foundation-callout;
// // @include foundation-close-button;
// // @include foundation-drilldown-menu;
// // @include foundation-dropdown;
// // @include foundation-dropdown-menu;
// // @include foundation-flex-video;
// // @include foundation-label;
// // @include foundation-media-object;
// // @include foundation-menu;
// // @include foundation-off-canvas;
// // @include foundation-orbit;
// // @include foundation-pagination;
// // @include foundation-progress-bar;
// // @include foundation-slider;
// // @include foundation-sticky;
// // @include foundation-reveal;
// // @include foundation-switch;
// // @include foundation-table;
// // @include foundation-tabs;
// // @include foundation-thumbnail;
// // @include foundation-title-bar;
// // @include foundation-tooltip;
// // @include foundation-top-bar;



// Google fonts
@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic);

// Custom theme files
// @import 'theme';

// @import 'syntax';

.top-bar-left {
  .is-dropdown-submenu.first-sub {
    left: 0 !important;
    right: auto !important;
  }
}
.top-bar-right {
  .is-dropdown-submenu {
    left: auto !important;
    right: 0 !important;
  }
}
.menu-text {
  padding: 0;
}
a.top-bar-large-logo {
  padding: 0 !important;
  display: block;
  width: 100%;
  text-align: center;
  img {
    max-height: 64px;
    margin: 0.2rem 0 0.5rem 0;
  }
}
a.top-bar-normal-logo {
  padding: 0 !important;
  margin-top: -1px;
  img {
    max-height: 50px;
  }
}
.top-bar, .top-bar ul {
  // background-color: #1d1d1d;
}
.top-bar {
  ul {
    width:100%;
    li {
      display: inline-block;
      a {
        padding: 1.1rem 1rem 1rem;
      }
    }
  }
  @include breakpoint(medium down) {
    .top-bar-left {
      width: 100%;
    }
    ul {
      text-align: center;
      li {
        // display: inline;
        a {
          padding: 0.7rem 0.6rem;
          display: inline-block;
        }
      }
    }
  }
}
.experience-block {
  margin-bottom: 2rem;
}
.experience-logo {
  max-width: 350px;
}
.experience-image, .experience-content-wrapper {
  position: relative;
}
.experience-content-wrapper {
  z-index:99999;
}
.experience-image {
  text-align: center;
}
.experience-block {
  text-align: center;
  .experience-title h3::after {
      display: block;
      content: '';
      border-bottom: 0.125rem solid #2199e8;
      margin: .75rem auto 0;
      width: 5rem;
      -moz-transition-property: all;
      -webkit-transition-property: all;
      -moz-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
  }
  @include breakpoint(medium) {
    .experience-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      padding: 0 3rem;
    }
    &.odd .experience-content-wrapper {
      text-align: left;
      .experience-title h3::after {
        margin: .75rem auto 0 0;
      }
    }
    &.even .experience-content-wrapper {
      text-align: right;
      .experience-title h3::after {
        margin: .75rem 0 0 auto;
      }
    }
  }
  @include breakpoint(medium down) {
    .experience-logo {
      margin: 2rem 0;
    }
  }
  @include breakpoint(medium only) {
    .experience-logo {
      width: 80%;
      max-width: 80%;
    }
  }
  @include breakpoint(small only) {
    .experience-logo {
      width: 90%;
      max-width: 90%;
    }
  }
}
h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.experience-title h3 {
  font-size: 1.25rem;
  line-height: 1.125rem;
}
.title-bar {
  padding: 0;
  display: table;
  background-color: #eee;
  width: 100%;
  .title-bar-left,
  .title-bar-right {
    display: table-cell;
    vertical-align: middle;
    width: 30px;
    float: none;
    .menu-icon::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #2199e8;
        top: 0;
        left: 0;
        box-shadow: 0 7px 0 #2199e8, 0 14px 0 #2199e8;
    }
  }
  #title-bar-middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    // padding: 0 5%;
    img {
      margin: 0.5rem 0;
      width: 225px;
      max-width: 100%;
    }
  }
}
.wrapper {
  max-width: 64em;
  margin-right: auto;
  margin-left: auto;
}
.site-footer {
  // border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  .footer-heading {
      font-size: 18px;
      margin-bottom: 15px;
  }
}
.site-footer::after {
  content: ' ';
  clear: both;
  display: block;
}
.contact-list {
  list-style: none;
  margin-left: 0;
}
.social-media-list {
  list-style: none;
  span.icon {
    vertical-align: sub;
  }
  span:not(.icon) {
    vertical-align: middle;
  }
  svg {
    margin-left: 0.25rem;
  }
}
.page-content::after {
  display: block;
  content: ' ';
  clear: both;
}
#home-banner {
  display: table;
  // background-image: url('/assets/images/code.png');
  // background-size: cover;
  background-color: transparent;
  // background-position: center;
  max-width: 100%;
  width: 100vw;
  position: relative;
  overflow: hidden;
  height: 100vh;
  #typed {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    z-index: 1;
    #typed-inner {
      display: inline-block;
      // min-height: 150px;
      // padding: 10px 0 10px 10px;
      color: #000;
      text-shadow: #f0f0f0 0px 1px 0px;
      font-family: "Consolas", "Courier New", "Courier";
      text-align: left;
      margin-bottom: 0;
      text-align: center;
      height: 2rem;
      // overflow: hidden;
      h1 {
      }
    }
    #typed-inner-sub {
      display: inline-block;
      // min-height: 70px;
      padding: 10px 0 10px 10px;
      color: #000;
      text-shadow: #f0f0f0 0px 1px 0px;
      font-family: "Consolas", "Courier New", "Courier";
      text-align: left;
      // overflow: hidden;
        margin-bottom: 0;
        text-align: center;
      h3 {
        text-transform: none;
      }
    }
  }
}
#home-banner:before {
  content: "";
  position: absolute;
  // width: 190%;
  // height: 190%;
  top: 0%;
  left: 0%;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: url('/assets/images/code.png');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  // -webkit-transform: rotate(-25deg);
  // -moz-transform: rotate(-25deg);
  // -ms-transform: rotate(-25deg);
  // -o-transform: rotate(-25deg);
  // transform: rotate(-25deg);
  opacity: 0.2;
}
.typed-cursor{
    opacity: 0;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
    text-shadow: #f0f0f0 0px 1px 0px;
    font-family: "Consolas", "Courier New", "Courier";
    font-size: 1.75em;
    color: #000;
    margin-left: 0.1rem;
}
@keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
.off-canvas {
  height: 100%;
  .is-drilldown {
    height: 100%;
    ul {
      height: 100%;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Consolas", "Courier New", "Courier";
  text-transform: uppercase;
}
.slick-prev {
    left: 5px;
    z-index: 1;
}
.slick-next {
    right: 5px;
}
.dropdown.menu .submenu {
  display: none;
}
.dropdown.menu .is-dropdown-submenu.js-dropdown-active {
    display: block;
}
a, a:hover, a:focus, a:visited {
  outline: 0;
}
.button.dropdown.hollow::after {
  border-color: #2199e8 transparent transparent;
}
.portfolio-links .dropdown-pane {
  padding: 0;
  width: auto;
}