---
# front matter
---
// Font-Awesome
@import 'font-awesome/font-awesome';

// // Custom Variables
// @import 'variables';

// // Foundation 6
@import 'foundation';
@import 'slick';
@import 'slick-theme';

// // Include All of Foundation 6
@include foundation-everything;

// // Customize Foundation 6. Uncomment the components you need:

// @include foundation-global-styles;
// // @include foundation-grid;
// // @include foundation-typography;
// // @include foundation-button;
// // @include foundation-forms;
// // @include foundation-visibility-classes;
// // @include foundation-float-classes;
// // @include foundation-accordion;
// // @include foundation-accordion-menu;
// // @include foundation-badge;
// // @include foundation-breadcrumbs;
// // @include foundation-button-group;
// // @include foundation-callout;
// // @include foundation-close-button;
// // @include foundation-drilldown-menu;
// // @include foundation-dropdown;
// // @include foundation-dropdown-menu;
// // @include foundation-flex-video;
// // @include foundation-label;
// // @include foundation-media-object;
// // @include foundation-menu;
// // @include foundation-off-canvas;
// // @include foundation-orbit;
// // @include foundation-pagination;
// // @include foundation-progress-bar;
// // @include foundation-slider;
// // @include foundation-sticky;
// // @include foundation-reveal;
// // @include foundation-switch;
// // @include foundation-table;
// // @include foundation-tabs;
// // @include foundation-thumbnail;
// // @include foundation-title-bar;
// // @include foundation-tooltip;
// // @include foundation-top-bar;



// Google fonts
@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic);

// Custom theme files
// @import 'theme';

@import 'syntax';

.top-bar-left {
  .is-dropdown-submenu.first-sub {
    left: 0 !important;
    right: auto !important;
  }
}
.top-bar-right {
  .is-dropdown-submenu {
    left: auto !important;
    right: 0 !important;
  }
}
.menu-text {
  padding: 0;
}
a.top-bar-large-logo {
  padding: 0 !important;
  display: block;
  width: 100%;
  text-align: center;
  img {
    max-height: 64px;
    margin: 0.2rem 0 0.5rem 0;
  }
}
a.top-bar-normal-logo {
  padding: 0 !important;
  margin-top: -1px;
  img {
    max-height: 50px;
  }
}
.top-bar, .top-bar ul {
  background-color: #d6d6d6;
}
.top-bar, .title-bar {
 /* background-image: url('/assets/images/title-bg.jpg');*/
  background-color: #e6e6e6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.top-bar {
  ul {
    width:100%;
    background-color: #e6e6e6;
    li {
      display: inline-block;
      a {
        padding: 1.1rem 1rem 1rem;
      }
    }
  }
  @include breakpoint(medium down) {
    .top-bar-left {
      width: 100%;
    }
    ul {
      text-align: center;
      li {
        // display: inline;
        a {
          padding: 0.7rem 0.6rem;
          display: inline-block;
        }
      }
    }
  }
}
.experience-block {
  margin-bottom: 2rem;
}
.experience-logo {
  max-width: 350px;
}
.experience-image, .experience-content-wrapper {
  position: relative;
}
.experience-content-wrapper {
  z-index:99999;
}
.experience-image {
  text-align: center;
}
.experience-block {
  text-align: center;
  .experience-title h3::after {
      display: block;
      content: '';
      border-bottom: 0.125rem solid #2199e8;
      margin: .75rem auto 0;
      width: 5rem;
      -moz-transition-property: all;
      -webkit-transition-property: all;
      -moz-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
  }
  @include breakpoint(medium) {
    .experience-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      padding: 0 3rem;
    }
    &.odd .experience-content-wrapper {
      text-align: left;
      .experience-title h3::after {
        margin: .75rem auto 0 0;
      }
    }
    &.even .experience-content-wrapper {
      text-align: right;
      .experience-title h3::after {
        margin: .75rem 0 0 auto;
      }
    }
  }
  @include breakpoint(medium down) {
    .experience-logo {
      margin: 2rem 0;
    }
  }
  @include breakpoint(medium only) {
    .experience-logo {
      width: 80%;
      max-width: 80%;
    }
  }
  @include breakpoint(small only) {
    .experience-logo {
      width: 90%;
      max-width: 90%;
    }
  }
}
h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.experience-title h3 {
  font-size: 1.25rem;
  line-height: 1.125rem;
}
.title-bar {
  padding: 0;
  display: table;
  background-color: #eee;
  width: 100%;
  .title-bar-left,
  .title-bar-right {
    display: table-cell;
    vertical-align: middle;
    width: 30px;
    float: none;
    .menu-icon::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #2199e8;
        top: 0;
        left: 0;
        box-shadow: 0 7px 0 #2199e8, 0 14px 0 #2199e8;
    }
  }
  #title-bar-middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    // padding: 0 5%;
    img {
      margin: 0.5rem 0;
      width: 225px;
      max-width: 100%;
    }
  }
}
.site-footer {
  // border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  .footer-heading {
      font-size: 18px;
      margin-bottom: 15px;
  }
}
.site-footer::after {
  content: ' ';
  clear: both;
  display: block;
}
.contact-list {
  list-style: none;
  margin-left: 0;
  text-align: center;
  @include breakpoint(medium up) {
    text-align: left;
  }
}
.social-media-list {
  list-style: none;
  margin: 0;
  text-align: center;
  @include breakpoint(medium up) {
    text-align: right;
  }
  li {
    display: inline-block;
    @include breakpoint(medium up) {
      display: block;
    }
    &:hover {
      span {
        color: #828282;
      }
      path {
        fill: #2199e8;
      }
    }
  }
  span {
    transition: 0.4s all;
  }
  span.icon {
    vertical-align: sub;
    svg {
      margin-left: 0.25rem;
    }
  }
  span:not(.icon) {
    vertical-align: middle;
    display: none;
    @include breakpoint(medium up) {
      display: inline-block;
    }
  }
}
.page-content::after,
.wrapper::after {
  display: block;
  content: ' ';
  clear: both;
}
#home-banner {
  display: table;
  // background-image: url('/assets/images/code.jpg');
  // background-size: cover;
  background-color: transparent;
  // background-position: center;
  max-width: 100%;
  width: 100vw;
  position: relative;
  overflow: hidden;
  height: 100vh;
  #typed {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    z-index: 1;
    #typed-inner {
      display: inline-block;
      // min-height: 150px;
      // padding: 10px 0 10px 10px;
      color: #2199e8;
      text-shadow: #f0f0f0 0px 1px 0px;
      font-family: "Consolas", "Courier New", "Courier";
      text-align: left;
      margin-bottom: 0;
      text-align: center;
      text-transform: uppercase;
      height: 2rem;
      // overflow: hidden;
      h1 {
      }
    }
    #typed-inner-sub {
      display: inline-block;
      // min-height: 70px;
      padding: 10px 0 10px 10px;
      color: #1d1d1d;
      text-shadow: #f0f0f0 0px 1px 0px;
      font-family: "Consolas", "Courier New", "Courier";
      text-align: left;
      // overflow: hidden;
        margin-bottom: 0;
        text-align: center;
      h3 {
        text-transform: none;
      }
    }
  }
}
#home-banner:before {
  content: "";
  position: absolute;
  // width: 190%;
  // height: 190%;
  top: 0%;
  left: 0%;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: url('/assets/images/code.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  // -webkit-transform: rotate(-25deg);
  // -moz-transform: rotate(-25deg);
  // -ms-transform: rotate(-25deg);
  // -o-transform: rotate(-25deg);
  // transform: rotate(-25deg);
}
.typed-cursor{
    opacity: 0;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
    text-shadow: #f0f0f0 0px 1px 0px;
    font-family: "Consolas", "Courier New", "Courier";
    font-size: 1.75em;
    color: #000;
    margin-left: 0.1rem;
}
@keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
.off-canvas {
  height: 100%;
  .is-drilldown {
    height: 100%;
    ul {
      height: 100%;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Consolas", "Courier New", "Courier";
}
.slick-prev {
    left: 5px;
    z-index: 1;
}
.slick-next {
    right: 5px;
}
.top-bar .dropdown.menu .submenu {
  display: none;
}
.top-bar .dropdown.menu .is-dropdown-submenu.js-dropdown-active {
    display: block;
}
a, a:hover, a:focus, a:visited {
  outline: 0;
}
.button.dropdown.hollow::after {
  border-color: #2199e8 transparent transparent;
}
.dropdown-pane, .dropdown-pane .menu {
  padding: 0;
  width: auto;
  z-index: 9999 !important;
}
.submit-button-wrapper {
  text-align: center;
  .submit-button {
    width: 100%;
    max-width: 250px;
  }
}
h1#page-title {
    text-align: center;
    margin: 0 0;
}
form textarea {
  min-height: 200px;
  resize: none;
}
.trianglize {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  img {
    display: none;
  }
}
.off-canvas-content {
  background-color: transparent;
}
.experience-image img {
  max-height: 275px;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}
h1#page-title {
  text-transform: uppercase;
  visibility: hidden;
  min-height: 33px;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  @include breakpoint(medium up) {
    min-height: 56px;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 2.5rem;
  }
}
#title-wrapper {
  padding: 1rem 0;
  background-color: #2199e8;
  margin-bottom: 1.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:url('/assets/images/header-bg.jpg');
}
.tutorial-image {
  text-align: center;
  margin-bottom: 1.5rem;
  img {
    max-height: 250px;
  }
}
.tutorial-details {
  text-align: center;
}
.collection-description {
  max-width: 750px;
  margin: 0 auto 2rem;
  text-align: center;
}
.tut-feature-image {
  max-height: 300px;
  margin: 0 auto;
}
.tut-overview-row {
  margin: 3rem auto;
  .tut-overview-left {
    text-align: center;
  }
  .tut-overview-right {
    display: table;
    .tutorial-desc {
      display: table-cell;
      vertical-align: middle;
      a {
        margin: 0;
      }
    }
  }
}
#series-menu {
  list-style: none;
  margin-left: 0;
  text-align: center;
  margin-top: 1rem;
  @include breakpoint(medium up) {
    text-align: left;
    margin-top: 0;
  }
  .menu-heading {
    margin-bottom: 1rem;
  }
  li {
    width: 100%;
    max-width: 100%;
    a {
      display: block;
    }
  }
}
.quote-row {
  margin-bottom: 1.5rem;
  .quote-mark-column {
    text-align: right;
    display: table;
    &.open-quote .quote-marks {
      vertical-align: middle;
    }
    &.close-quote .quote-marks {
      vertical-align: middle;
    }
    .quote-marks {
      display: table-cell;
      img {
        width: 100%;
        max-width: 60px;
      }
    }
  }
  h5 {
    margin-bottom: 0;
    text-align: center;
  }
}
.tutorials-page #title-wrapper {
  margin-bottom: 4rem;
}
figure.highlight {
  margin: 0;
}
body {
  background-color: #f8f8f8;
  pre {
    margin-bottom: 0;
  }
  .wrapper {
    max-width: 64em;
    margin-right: auto;
    margin-left: auto;
  }
  .uppercase {
    text-transform: uppercase;
  }
  a {
    transition: 0.5s all;
  }
}
.blog-article > .label {
  margin-bottom: 1rem;
  cursor: pointer;
}
#article-list hr:last-of-type {
  display: none;
}
.post {
  .post-image {
    float: right;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 0 0 1rem 0;
    @include breakpoint(medium up) {
      max-width: 60%;
      margin: 0;
    }
  }
  p {
    text-align: justify;
  }
}


.social-buttons {
  text-align: center;
  .fb_iframe_widget {
      display: inline-block;
      position: relative;
      line-height: 1;
      vertical-align: top;
  }
  @include breakpoint(medium up) {
    text-align: left;
  }
}
body.front-page {
  h1#page-title {
    color: #1d1d1d;
    margin: 1rem auto;
    text-shadow: none;
    outline: 0;
  }
}

.portfolio-single-image {
  margin-bottom: 30px;
}

// Blog Articles

.blog-article {
  margin-bottom: 1rem;
  h5 {
    margin-bottom: 0;
    transition: 0.4s all;
    &:hover {
      color: #1d1d1d;
    }
  }
  .post-content {
    text-align: justify;
  }
  span.post-date {
    width: 100%;
    display: block;
    color: #cacaca;
  }
  .tag-row {
    margin-bottom: 1rem;
  }
  h5, span.post-date, .tag-row {
    text-align: center;
    @include breakpoint(medium up){
      text-align: left;
    }
  }
}

// Link Styling
.dropdown.menu>li.is-dropdown-submenu-parent:hover>a::after {
  border-color: #1d1d1d transparent transparent !important;
}
a {
  transition: 0.4s all;
  &::after {
    transition: 0.4s all;
  }
  &.label {
    cursor: pointer;
    &:hover {
      background-color: #2199e8;
    }
  }
  &:not(.label):hover {
    color: #1d1d1d !important;
    >::after {
      border-color: #1d1d1d transparent transparent !important;
    }
  }
}
@include breakpoint(small only) {
  .input-group-label {
    width: 100% !important;
    display: block;
    border: none;
    background-color: transparent;
    margin-bottom: 0.25rem;
  }
}
.fb_iframe_widget { 
  width: auto;
  &.fb-comments {
    max-width: 100%;
    width: 100% !important;
    > span {
      max-width: 100%;
      width: 100% !important;
      iframe {
        max-width: 100%;
        width: 100% !important;
      }
    }
  }
}
.gist {
  clear: both;
  padding-top: 1rem;
}