---
# front matter
---

// Custom Variables
@import 'variables';

// Foundation 6
@import 'foundation';

// Include All of Foundation 6
@include foundation-everything;

// Customize Foundation 6. Uncomment the components you need:

// @include foundation-global-styles;
// @include foundation-grid;
// @include foundation-typography;
// @include foundation-button;
// @include foundation-forms;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;


// Font-Awesome
@import 'font-awesome/font-awesome';

// Google fonts
//@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic);

// Custom theme files
@import 'theme';

@import 'syntax';

.top-bar-right {
  .is-dropdown-submenu {
    left: auto !important;
    right: 0 !important;
  }
}


.menu-text {
  padding: 0;
}
a.top-bar-large-logo {
  padding: 0 !important;
  display: block;
  width: 100%;
  text-align: center;
  img {
    max-height: 64px;
    margin: 0.2rem 0 0.5rem 0;
  }
}
a.top-bar-normal-logo {
  padding: 0 !important;
  margin-top: -1px;
  img {
    max-height: 50px;
  }
}
.top-bar, .top-bar ul {
  // background-color: #1d1d1d;
}
.top-bar {
  ul {
    width:100%;
    li {
      display: inline-block;
      a {
        padding: 1.1rem 1rem 1rem;
      }
    }
  }
  @include breakpoint(medium down) {
    .top-bar-left {
      width: 100%;
    }
    ul {
      text-align: center;
      li {
        display: inline;
        a {
          padding: 0.7rem 0.6rem;
          display: inline-block;
        }
      }
    }
  }
}
.experience-block {
  margin-bottom: 2rem;
}
.experience-logo {
  max-width: 350px;
}
.experience-image, .experience-content-wrapper {
  position: relative;
}
.experience-image {
  text-align: center;
}
.off-canvas-content {
  padding: 1rem;
}
.experience-block {
  text-align: center;
  .experience-title h3::after {
      display: block;
      content: '';
      border-bottom: 0.125rem solid #2199e8;
      margin: .75rem auto 0;
      width: 5rem;
      -moz-transition-property: all;
      -webkit-transition-property: all;
      -moz-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
  }
  @include breakpoint(medium) {
    .experience-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      padding: 0 3rem;
    }
    &.odd .experience-content-wrapper {
      text-align: left;
      .experience-title h3::after {
        margin: .75rem auto 0 0;
      }
    }
    &.even .experience-content-wrapper {
      text-align: right;
      .experience-title h3::after {
        margin: .75rem 0 0 auto;
      }
    }
  }
  @include breakpoint(medium down) {
    .experience-logo {
      margin: 2rem 0;
    }
  }
  @include breakpoint(medium only) {
    .experience-logo {
      width: 80%;
      max-width: 80%;
    }
  }
  @include breakpoint(small only) {
    .experience-logo {
      width: 90%;
      max-width: 90%;
    }
  }
}
.even .experience-content-wrapper {
}
h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.experience-title h3 {
  font-size: 1.25rem;
  line-height: 1.125rem;
}
.title-bar {
  padding: 0.275rem 0 0.35rem 0;
  display: table;
  background-color: #eee;
  .title-bar-left,
  .title-bar-right {
    display: table-cell;
    vertical-align: middle;
    width: 30px;
    float: none;
    .menu-icon::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #2199e8;
        top: 0;
        left: 0;
        box-shadow: 0 7px 0 #2199e8, 0 14px 0 #2199e8;
    }
  }
  #title-bar-middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 5%;
  }
}
