<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="front-page">
    <div class="trianglize">
      <img id="source-b" src="/assets/images/icon.gif" />
    </div>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        {% include header.html %}

        {% include off-canvas.html %}

        <!-- original content goes in this container -->
        <div class="off-canvas-content" data-off-canvas-content>
          <main class="page-content" aria-label="Content">

            <div id="home-banner">
            <div id="typed">
            <div id="typed-inner">
            </div><br />
            <div id="typed-inner-sub">
            </div>
            </div>
            </div>
            {{ content }}


          </main>

          {% include footer.html %}

        </div>
      </div>
    </div>

    {% include scripts.html %}

  </body>
</html>
