<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        {% include header.html %}

        {% include off-canvas.html %}

        <!-- original content goes in this container -->
        <div class="off-canvas-content" data-off-canvas-content>
          <main class="page-content" aria-label="Content">

            <div id="home-banner">
            <div id="typed">
            <div id="typed-inner">
            </div><br />
            <div id="typed-inner-sub">
            </div>
            </div>
            </div>
            {{ content }}


          </main>

          {% include footer.html %}

        </div>
      </div>
    </div>

    <script src="/assets/javascripts/vendor/jquery.js"></script>
    <script src="/assets/javascripts/vendor/what-input.js"></script>
    <script src="/assets/javascripts/vendor/foundation.min.js"></script>
    <script src="/assets/javascripts/slick.min.js"></script>

    <script src="/assets/javascripts/app.js"></script>
    <script src="/assets/javascripts/typed.js"></script>
    <script src="/assets/javascripts/app-home.js"></script>

  </body>
</html>
