---
layout: default
---
{% if page.author == null %}
  {% assign author = site.author.name %}
{% else %}
  {% assign author = page.author.name %}
{% endif %}
{% if page.google == null %}
  {% assign google = site.author.google %}
{% else %}
  {% assign google = page.author.google %}
{% endif %}

<div class="row">
  <div class="medium-9 medium-push-3 columns">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">


      <div class="post-content" itemprop="articleBody">
        {% if page.image != null %}
            <img src="{{ page.image.src }}" alt="{{ page.image.alt }}" class="post-image" />
        {% endif %}
        {{ content }}
      </div>


      <footer class="post-footer">
        <p class="post-meta">Published on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="https://plus.google.com/{{ google }}" target="_blank" rel="me">{{ author }}</a></span></span></p>
        <div class="social-buttons">
          <div class="fb-send" data-href="{{ site.url }}{{ page.url }}"></div>
          <div
            class="fb-like fb-post-link"
            data-href="{{ site.url }}{{ page.url }}"
            data-share="true"
            data-width="150"
            data-layout="button_count"
            data-show-faces="false">
          </div>

        </div>
      </footer>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}

    </article>
    <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5"></div>
  </div>
  <div class="medium-3 medium-pull-9 columns">
    {% include recent-articles.html %}
  </div>
</div>
