---
layout: default
---
<div class="row tut-overview-row" data-equalizer>
  <div class="medium-6 columns tut-overview-left" data-equalizer-watch>
    <img class="tut-feature-image" src="{{ page.image }}" />
  </div>
  <div class="medium-6 columns tut-overview-right" data-equalizer-watch>
    <div class="tutorial-desc">
      {{ content }}
    </div>
  </div>
</div>
  <div class="fb-comments" style="max-width: 600px; margin: 0 auto; display: block" data-href="{{ site.url }}{{ page.url }}" data-numposts="5"></div>
